body {
  font-family: 'Cinzel', serif;
  background-color: white;
  color: #010326;
  margin: 0;
}

h1 {
  font-size: 4vw;
  text-align: center;
  margin-bottom: 0;
  margin-top: 1.5%;
  text-shadow: 2px 2px grey;
}

h2 {
  margin-left: 5%;
  font-size: 2vw;
  text-shadow: .5px .5px grey;
}

input:focus, textarea:focus {
    outline: none;
}

input {
  margin-left: 42.5%;
  margin-right: 42.5%;
  width: 15%;
  transition: all .5s linear;
}

#coin-holder {
  margin-left: 42.5%;
  margin-right: 42.5%;
  width: 15%;
}

@keyframes coin_fall {
  0% {
    transform: translate(0px, -20%);
  }

  100% {
    transform: translate(0px, 1000%);
  }
}

#div {
  margin: 0;
}

@keyframes infinite-spinning {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(720deg);
  }
}

input:active {
  transform: rotateX(1800deg) scale(4);
}

#final_winner {
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
