body {
  font-family: 'Cinzel', serif;
  background-color: white;
  color: #010326;
  margin: 0;
}

h1 {
  font-size: 4vw;
  text-align: center;
  margin-bottom: 0;
  margin-top: 3%;
  text-shadow: 2px 2px grey;
}

h2 {
  margin-left: 5%;
  font-size: 2vw;
  text-shadow: .5px .5px grey;
}

button {
  padding: 1rem 1.5rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  color: #F2F2F2;
  background-color: #656B8C;
  border: 2px solid #F2F2F2;
  border-radius: 30px;
  box-shadow: 3px 3px 6px #656B8C;
}

button:focus {
  outline: none;
}

button:hover {
  transform: translateY(-1px);
  transition: .2s;
  transition-timing-function: ease-in-out;
  box-shadow: 4px 5px 8px #656B8C;
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
  box-shadow: 2px 2px 5px #656B8C;
}

input:focus, textarea:focus {
    outline: none;
}

#div {
  margin: 0;
}

#final_winner {
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
